    <ion-view view-title="{{viewModel.cache.title}}">
	 <ion-content class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="/images/nasa_logo.gif">
                <p> {{viewModel.cache.title}}
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="/images/{{viewModel.cache.image}}">
                <p>
        			{{viewModel.cache.description}}
                </p>
                <p>
                    <a href="#" ng-show="viewModel.cache.found" class="subdued"> found: {{viewModel.cache.found.date | date : format : timezone}}</a>
                    <a href="#" ng-hide="viewModel.cache.found" class="subdued">distance {{viewModel.distance}}</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="viewModel.find(viewModel.cache)">
                    <i class="icon ion-flag"></i> find it!
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
