<ion-view view-title="Dashboard">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Report</div>
      <div class="item item-body">
        <div>
          You have completed <b>{{viewModel.getFoundCount()}}</b> out of <b>{{viewModel.caches.length }}</b>
        </div>
      </div>
    </div>
    <div class="list card"  ng-if="viewModel.found.length > 0">
      <div class="item item-divider">Latest</div>
      <div class="item item-body" ng-repeat="cache in viewModel.found | orderBy: '+cache.found.date' | limitTo: 5 ">
        <div>
          You  found <b>{{cache.title}}</b> on <b>{{cache.found.date | date :"MM/dd/yyyy 'at' h:mma"}} </b> 
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Updated</div>
      <div class="item item-body">
        <div>
          Your caches were last updated <b>{{viewModel.updated.date | date :"MM/dd/yyyy 'at' h:mma"}}</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
